* {
  box-sizing: border-box;
  background: gray;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3
}

header {
  
  display: flex;
  background: teal;
  padding: 20px;
  border: solid 3px black;

}
header nav ul li {
  display: inline-block;
  text-align: justify right;
  color: white;
}
#about {
  display: flex;
  background: teal;
  padding: 10px;
  border: solid black 3px;

}
#work {
  display: flex;
  background: teal;
  padding: 10px;
  border: solid black 3px;
}
#contact {
  background: teal;
  padding: 10px;
  border: solid black 3px;

}

h1 {
  font-size: 200%;
  display: inline-block;
  font-size: 48px;
};

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
};



